webkit{
 appearance:none;   
}    
body{
    background-color:rgb(234,231,225);
}

.header{
    display:block;
    margin-top:0px;
}
.leftnav{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    float:left;

}
li{
    display: inline;
    text-align: center;
    font-family:'arial', 'serif sans'  ;
    font-size:13px;
    text-decoration-color:black;
}
.rightnav{
    list-style-type: none;
    margin: 0;
    float:right;
    padding: 0;
    overflow: hidden;
}
.leftbot{
    list-style-type:none;
    margin: 0;
    padding: 0;
    float:left;
}
.rightbot{
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}
.logo{
    padding-top:109px;
    padding:21px,0px,0px;
    display:block;
    margin-left:auto;
    margin-right:auto;

}
.searchbar{
    text-align: center;
    align-content: center;
    display:block;
    margin:auto;
    padding:auto;
}
/*div{
    div property is for keeping the buttons on the same line
    margin:auto;
    padding:auto;
}*/
.google-button{
    padding:0;/*padding property invalid, must find a way to center*/
    display: block;
    margin:10px 50px 20px 0;
}
.feelgood-button{
    padding:0;/*pading property invalidy must find a way to center with padding*/
    display:block;
    margin:10px 50px 20px 0;
}



/*webkit{
appearance:none;}
.top{
    list-style-type:none;
    margin:0;
    padding:0;
    margin-left:1100px;
}
#right{
    display:inline;
}
#left{
    display: inline;
}
.logo{
    padding-top:109px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#search{
    text-align:center;
    margin:auto;
}
#buttons{
    text-align:center;
    margin:auto;
}
.foot{
    display:block;
    margin-bottom:10px;
}
.bottom{
    list-style-type:none;
    margin:0;
    padding:0;
    float:left;
}
.t-c{
    float:right;
    top:400px; right:20px;
}*/