html{
    -webkit-appearance:none;   
}
body, html {
    font-size: small;}

body {
    background: #fff;
    color: #222;
}
.header{
    display:block;
    margin-top:0px;
}
.topNavLeft{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    float:left;
    position:relative;
    top:20px;

}
.about{
    margin:10px 10px 10px;
    padding:0;
}
.store{
    margin:10px 10px 10px;
    padding:0;
}
li{
    display: inline;
    text-align: center;
    font-family:'arial', 'serif sans'  ;
    font-size:13px;
    text-decoration-color:black;
}
.topNavRight{
    list-style-type: none;
    margin: 0;
    float:right;
    padding: 0;
    overflow: hidden;
}
.gmail{
    padding:0;
    margin:10px 10px 10px;
}
.images{
    padding:0;
    margin:10px 10px 10px;
}
.apps{        
    padding:0;
    margin:10px 10px 10px;
}
#sign_in{
    border-radius:100%;
    margin-top:5px;
}
.bottomNavLeft{
    list-style-type:none;
    margin: 0;
    padding: 0;
    float:left;
}
.bottomNavRight{
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}
#logo_div{
    position:relative;
    top:40px;
    display:block;
    margin-left:auto;
    margin-right: auto;
    width:50%
}
.logo{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    display: block;
    margin-left:auto;
    margin-right: auto;
    padding-top:109px;
}
.search_div{
    position:relative;
    top:25px;
    right:0px;
}
.searchbar{
    padding:0px 0px 0px 0px;
    text-align: center;
    align-content: center;
    display:flex;
    border-radius:24px;
    border:1px;
    border-style: solid;
    border-color:rgb(204, 201, 196);
    width:582px;
    height:44px;
    margin:auto;
    box-shadow:none;
    background:#fff;
    margin-left:auto;
    margin-right:auto;
}
#searchIconBox{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    width: 24px;
    height: 24px;
}
.lens{
    padding: 20 20;
    width:20px;
    height:20px;
    fill:rgb(179, 179, 179);/*needs to be gray*/
    line-height:20px;
}
#searchTextBox{
    width: 388px;
    line-height: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}
#searchText {
    display: inline-block;
    border: none;
    color: rgba(0,0,0,.87);
    outline: none;
    font: 16px arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    width: 388px;
}
#searchMic{
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 110px;
}
.micro{
    padding: 20 20;
    width:24px;
    height:24px;
    
}
.buttons_div{
    position:relative;
    top:40px;
    right:0px;
}
#center{
    position:absolute;
    top:10px;
}
#leftbutton{
    position:relative;
    /*left:500px;*/ 
}
#rightbutton{
    position: relative;
    top: -20px; left:115px;
}
.google-button{
    padding:1em;
    position:relative;
    left: 200px;
}
.feelgood-button{
    padding:2px 6px 2px 6px;
    background-color: blue;
}
#foot{
   position: relative;
    top: 250px;
    right:0px;
}
.country{
    bottom:0;
}
.leftbot{
    bottom:0;
}
.rightbot{
    bottom:0;
}
/*this is the original code
.buttons_div{
    font-family:arial,sans-serif;
    display:block;
}
#leftbutton{
    position: relative;
    top:10px; left:150px;
    color:#5F6368;
    cursor:pointer;
    font-family:arial,sans-serif;
    font-size: 14px;
    margin: auto;
    min-width: 54px;
    padding: 0;
    text-align: center;
}
#rightbutton{
    position:relative;
    top:10px; left:326px;
    color:#5F6368;
    cursor:pointer;
    font-family:arial,sans-serif;
    font-size: 14px;
    margin: auto;
    min-width: 54px;
    padding: 0;
    text-align: center;
}
.google-button{
    display:-webkit-box;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #686764;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.feelgood-button{
    display:-webkit-box;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #72716f;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;}*/