webkit{
    appearance: none;
}
.header{
    display:block;
    margin-top:0px;
}
.leftnav{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    float:left;

}
li{
    display: inline;
    text-align: center;
    font-family:'Garamond', 'Futura', 'Times New Roman', 'serif sans'  ;
    font-size:14px;
    color:black;
}
.rightnav{
    list-style-type: none;
    margin: 0;
    float:right;
    padding: 0;
    overflow: hidden;
}
.leftbot{
    list-style-type:none;
    margin: 0;
    padding: 0;
    float:left;
}
.rightbot{
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}
.logo{
    padding-top:109px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.searchbar{
    text-align: center;
}
.google-button{
    margin:auto;
    padding:auto;
}
.feelgood-button{
    margin:auto;
    padding:auto;
}

/*webkit{
appearance:none;}
.top{
    list-style-type:none;
    margin:0;
    padding:0;
    margin-left:1100px;
}
#right{
    display:inline;
}
#left{
    display: inline;
}
.logo{
    padding-top:109px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#search{
    text-align:center;
    margin:auto;
}
#buttons{
    text-align:center;
    margin:auto;
}
.foot{
    display:block;
    margin-bottom:10px;
}
.bottom{
    list-style-type:none;
    margin:0;
    padding:0;
    float:left;
}
.t-c{
    float:right;
    top:400px; right:20px;
}*/