-webkit-appearance:none;
.top{
    list-style-type:none;
    margin:0;
    padding:0;
    position: relative;
    right:1px;
}
#right{
    display:inline;
}
#left{
    display: inline;
}
.logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:30%;
}
#search{
    text-align:center;
    margin:auto;
}
#buttons{
    text-align:center;
    margin:auto;
}
.foot{
    list-style-type:none;
    margin:0;
    padding:10;
    float:left;
}
.t-c{
    float:right;
    top:400px; right:20px;
}