html{
    -webkit-appearance:none;   
}
body {
    background: #fff;
    color: #222;
}
.header{
    display:block;
    margin-top:0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
.topNavLeft{
    list-style-type: none;
    margin:0;
    padding:0;
    float:left;
    position:relative;
    top:15px;

}
.about{
    margin:0px 0px 0px 15px;
    padding:0;
    font-size:13px;
    font-family:'arial', 'serif sans';
}
.store{
    margin:0px 0px 0px 15px;
    padding:0;
    font-family:'arial', 'serif sans';
    font-size:13px;
}
li{
    display: inline;
    text-align: center;
}
.topNavRight{
    list-style-type: none;
    margin: auto;
    float:right;
    margin-right: 14px;
}
.gmail{
    position: relative;
    bottom:9px;
    right:20px;
    font-size:13px;
    font-family:'arial', 'serif sans';
}
.images{
    position: relative;
    bottom:10px;
    right: 8px;
    font-size:13px;
    font-family:'arial', 'serif sans';
    /* margin:0px 0px 0px 15px; */
}
.apps{        
    position:relative;
    bottom:7px;
    margin: -8px 18px 15px 15px;
}
#sign_in{
    border-radius:100%;
    margin-top:5px;
    
}
a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}
#logo_div{
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-top:28px;
    width:50%
}
.logo{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    display: block;
    margin-left:auto;
    margin-right: auto;
    padding-top:109px;
}
.search_div{
    margin-top: 25px;
}
.searchbar{
    text-align: center;
    align-content: center;
    justify-content: center;
    display:flex;
    border-radius:24px;
    border:1px solid rgb(204, 201, 196);
    width:582px;
    height: 45px;;
    margin:auto;
}
#searchIconBox{
    flex:1;
}
.lens{
    margin-top: 10px;
    margin-right:13px;
    width:18px;
    height:18px;
    fill:rgb(179, 179, 179);
}
#searchTextBox{
    flex:8;
    width: 500px;
    height: 24px;
    display:flex;
}
#searchText {
    flex:1;
    border: none;
    width:366px;
    height: 40px;
    color: rgba(0,0,0,.87);
    outline: none;
    font: 16px arial, sans-serif;
    background-color: transparent;
    margin: auto;
}
#searchMic{
    flex:1;
    margin-top: 10px;
    margin-left:120px;
    padding-right: 0px;
}
.micro{
    margin-right:12px;
    width:24px;
    height:24px;
    
}
.buttons_div{
    position:relative;
    top:18px;   
}
button{
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.buttons{
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        color: #3c4043;
}
.buttons:hover{
    border: 2px solid #e9ecef;
}
#foot{
    position: relative;;
    top: 190px;
    background-color: #F2F2F3;
    border-top: 1px #e4e4e4 solid;
    display:flex;
    flex-direction: column;
}
.div_country{
    flex:1;
    margin:10px 0px 10px 0px ;
    color: #5F6368;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#c{
    margin-right:1148px;
}
.navBarsBottom{
    flex:1;
    position: relative;
    background-color: rgb(235, 235, 235);
    border-top: 1px #e4e4e4 solid;
    border-bottom: 1px #e4e4e4 solid;
    
}
.bottomNavLeft{
    list-style-type:none;
    margin:10px 0px 10px 0px;
    float:left;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
}
.bottomNavRight{
    float: right;
    padding: 0;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 13px;
    list-style-type: none;
    font-family:Arial, Helvetica, sans-serif;
}
#Advertising{
    color:#5F6368;
    margin:5px 10px;
    padding:5px 5px 5px 5px;

}
#Business{
    margin:5px 10px;
    padding:5px 5px 5px 5px;
}
#howsearchworks{
    margin:5px 10px;
    padding:5px 5px 5px 5px;
}        
#Privacy{
    margin:5px 10px;
    padding:5px 5px 5px 5px;
}
#Terms{
    margin:5px 10px;
    padding:5px 5px 5px 5px;
}
#Settings{
    margin:5px 10px;
    padding:5px 5px 5px 5px;
}
            